@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Cores da Cozinha Ramos */
  --color-ramos-verde: #435B17;
  --color-ramos-marrom: #AB5213;
  --color-ramos-bege: #FEEED3;
  --color-ramos-bege-escuro: #EDCD9A;

  /* Fonte */
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-ramos-bege text-gray-800 font-sans antialiased;
  }
}