@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
  /* Cores da Cozinha Ramos */
  --color-ramos-verde: #435B17;
  --color-ramos-marrom: #AB5213;
  --color-ramos-bege: #FEEED3;
  --color-ramos-bege-escuro: #EDCD9A;

  /* Fonte */
  --font-sans: "Poppins", ui-sans-serif, system-ui;
}

@layer base {
  body {
    @apply bg-ramos-bege text-gray-800 font-sans antialiased;
  }
}